* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Garamond', serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.summary p {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
  padding: 10px;
}

#contact-info {
  margin-bottom: 20px;
  font-style: italic;
  text-align: center;
}

.contact {
  text-align: center;
}

.container ul li {
  margin-bottom: 8px;
}

a:hover {
  color: #0077cc;
  text-decoration: underline;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.job-title {
  font-weight: bold;
  margin-top: 5px;
}

.location-date {
  font-style: italic;
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.section table {
    margin: auto;
    border-collapse: collapse;
}
.section td {
    border: none;
    width: 250px;
    padding: 1px;
    vertical-align: top;
    text-align: left;
}

.section td ul {
    padding-left: 20px;
    margin: 0;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-column {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 2px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea,
select {
    padding: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    gap: 10px;
}

legend {
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

input[type="reset"]
input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #f44336;
    color: white;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 600px) {
    .form-column {
        min-width: 100%;
    }
}

.sectionHeader h3{
    text-align: center;
}